node_modules
# Keep environment variables out of version control
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
/generated/prisma
generated/
storage/logs/*
uploads/*
!uploads/.gitkeep
public/uploads/*
!public/
!public/uploads/
!public/uploads/.gitkeep
server.js
!public/uploads/.gitkeep